extends layout

block contentTitle
    h1= title

block siteHead
    link(rel='stylesheet', href='/stylesheets/etusivu.css')
    
block content 
    h1= title
    p Welcome to #{title}
    
    img(src='/images/Car.png')
    
    p #{introText}
  
