extends layout

block footer
	footer
		div
			h4 #{layout.copyright.person}@#{layout.copyright.year} 
			a(href='http://jarmopesonen.com')
				img(src='/images/jarnopesoonen.png' width=100 heigth=100)