doctype html
html
  head
    title #{layout.siteTitle} -- #{title}
    link(rel='stylesheet', href='/baymax/stylesheets/style.css')
    link(rel='stylesheet', href='/baymax/stylesheets/layout.css')
    
    
    
    
    block siteStyle
  body
    a(href='/baymax/') Etusivu
    a(href='/baymax/ohjaus/') Ohjaus
    a(href='/baymax/loki/') Loki
    a(href='/baymax/console/') Console
    
    block content
    
    footer
        div
            h4 #{layout.copyright.person}
            a(href='http://jarmopesonen.com')
                img(src='/baymax/images/jarnopesoonen.png' width=100 heigth=100)
