doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/baymax/') Etusivu
    a(href='/baymax/ohjaus/') Ohjaus
    a(href='/baymax/loki/') Loki
    a(href='/baymax/console/') Console
    
    block content
    
    h1 footer
