extends layout

block siteHead
	link(rel='stylesheet', href='/stylesheets/loki.css')
	scirpt(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js")
	script(src="/javascripts/loki/loki.js")
	script(src="/javascripts/loki/newchartmodal.js")
	
block content
	br
	div(class='row')
		div(class='col-sm-12')
			p#currentValueP
			p#voltageValuep
			div#valueDetailsD
			div#values