extends layout

block siteStyle
    link(rel='stylesheet', href='/baymax/stylesheets/loki.css')

block content
    article
        h1 Lämpötilat
        p
            each id in temperatureSensors
                article
                    h4 Anturi-id: #{id}
                    p asdasdasdasadsd
