extends layout

block siteHead
    link(rel='stylesheet', href='/stylesheets/ohjaus.css')
    script(src='/javascirpts/ohjaus.js')
block content
    br
    br
    button#setFanSpeed1 Tuulettimen nopeus 1
    button#setFanSpeed2 Tuulettimen nopeus 2
    button#setFanSpeed3 Tuulettimen nopeus 3
    button#setFanSpeed4 Tuulettimen nopeus 4
    button#setSuspensionLow Jousitus matala
    button#setSuspensionNormal Jousitus normaali
    button#setSuspensionHigh Jousitus korkea
    button#set